<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>sdkType</key>
	<string>mas_standrad</string>
	<key>sdkTypeCode</key>
	<integer>2</integer>
	<key>sdkVersion</key>
	<string>4.2.0-beta-73ae621</string>
</dict>
</plist>
